@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
}

/* header */
.header{
    background: #0066ff;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 150px;
    gap: 20px;
}

a{
    text-decoration: none;
    color: #eee;
    transition-property: color, trasform;
    transition-duration: 0.4s;
}

a:hover{
    color: black;
    transform: scale(1.2,1.3);
}

.redes {
    font-size: 30px;
    display: flex;
    gap: 15px;
}

.title-header{
    font-size: 22px;
    font-weight: bold;
}

/* encabezado */

.encabezado{
    background-color: #1f2937;
    color: #eee;
    height: 340px;
    display: flex;
    padding: 100px 150px 30px 150px;
    gap: 150px;
}

.title{
    font-size: 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
}

.info{
    padding-top: 30px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(165, 206, 206, 0.788);
}

.boton{
    height: 30px;
    width: 100px;
    box-sizing: border-box;
    border: 2px hidden ;
    background-color: #0066ff;
    font-weight: 900;
    color: #eee;
    border-radius: 10px;
    margin-top: 20px;
    transition-property: color, transform;
    transition-duration: 0.5s;
    
}

.boton:hover{
    color: black;
    transform: scale(1.2,1.2);
}

.medellin img{
    height: 250px;
    width: 400px;
    border-radius: 10px;
    border: 2px solid rgb(97, 117, 131);
}

/* cuerpo */

.info-container{
    padding-top: 80px;
    padding-bottom: 50px;
}

.title-body{
    color: #1f2937;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
}

.points{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
    gap: 50px;
}

.point{
    display: flex;
    flex-direction: column;
    width: 204px;
    border-radius: 10px;
    box-sizing: border-box;
    transition-property: transform;
    transition-duration: 0.5s;
}

.point:hover{
    transform: scale(1.2,1.2);
}

.foto img{
    height: 180px;
    width: 200px;
    border-radius: 10px;
    border: 2px hidden #1f2937;
    box-shadow: 0px 0px 4px 1px;
}

.info-foto{
    padding: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #1f2937;
    font-weight: 500;
}

/* relleno */

.relleno-container{
    background-color: #656875;
    
}

.parrafo-relleno{
    font-size: 36px;
    color: rgba(165, 206, 206, 0.788);
    font-weight: 700;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px 150px 20px 150px;
}

.mensaje{
    font-size: 23px;
    color: #eee;
    display: flex;
    font-weight: 500;
    justify-content: end;
    align-items: center;
    padding: 0px 150px 20px 150px;
}

/* mensaje de azul */

.body{
    background-color: #0066ff;
    margin: 100px 200px 100px 200px;
    border-radius: 10px;
    border: 2px hidden;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje-container{
    display: flex;
    align-items: center;
    gap: 120px;
}

.title-mensaje{
    font-size: 26px;
    font-weight: 500;
}

.mensaje-relleno{
    font-size: 16px;
    font-weight: 450;
}

.boton-relleno{
    background-color: #0066ff;
    color: #eee;
    font-weight: 650;
    border-radius: 10px;
    border: 2px solid #eee;
    padding: 5px 20px;
    transition-property: transform;
    transition-duration: 0.5s;
}

.boton-relleno:hover{
    color: rgb(0, 0, 0);
    transform: scale(1.1,1.1);
    
}

.advertencia-container{
    background-color: #1f2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje-advertencia{
    color: #eee;
    font-size: 20px;
    font-weight: 450;
}